<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Management console - auth</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="~/images/favicon.ico">

    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/app.css" rel="stylesheet" type="text/css" />
    <link href="~/css/custom.css" rel="stylesheet" type="text/css" />

</head>

<body id="body" class="auth-page"
    style="background-image: url('/images/p-1.png'); background-size: cover; background-position: center center;">

    @RenderBody()

    <!-- Sweet-Alert  -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <!-- Auth js -->
    <script src="~/pages/authentication.js"></script>
    <!-- App js -->
    <script src="~/js/app.js"></script>

</body>
</html>